*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;

}
.navbar{
    display: flex;
    background-color: maroon;
    padding: 20px;
    text-align: right;
}
.navbar ul{
    display: flex;
    color: white;
    list-style: none;
    font-weight: bolder;
    text-align: right;
}
.navbar ul li a{
    padding: 8px 30px;
    color: white;
    text-decoration: none;
    text-align: right;
}
.homepage{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(179, 175, 175);
}
.homepage img{
    width: 30vw;
    height: 80vh;
    border-radius: 15px;

}
.caption{
    margin-top: 15%;
}
.caption h1{
    color: purple;
}
.btn{
    padding: 20px;
    width: 13vw;
    color: black;
    background-color: white;
    border-radius: 15px;
    margin-top: 8%;
    cursor: pointer;
    border: none;
    font-weight: bolder;
}
.homepage span{
    margin-top: 10%;
}
.About{
    margin-top: 2%;
}
.About h1{
    text-align: center;
    color: purple;
}
.description{
    display: flex;
    column-gap: 60px;
    float: left;
}
.description img{
    width: 30vw;
    height: 45vh;
    border-radius: 15px;
}
.description p{
    margin-top: 5%;
    width: 100%;
    line-height: 2;
    font-size: 20px;
    border: solid purple 5px;
    border-radius: 15px;
    color: white;
    background-color: purple;
}
.my-projects{
    margin-top: 12%;
    display: block;
}
.my-projects h1{
    text-align: center;
    color: purple;
    display: inline-block;
}
.my-projects img{
    width: 32.9vw;
    height: 40vh;
    padding: 15px;
    border-radius: 10%;
    background-color: purple;
}
.gallery {
    margin-top: 5%;
}
.App{
    width: 25vw;
    border: solid purple 3px;
    border-radius: 15px;
}
.App p{
    line-height: 4;
    margin-top: 10%;
}
.boxes{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    border-radius: 15px;
}
.App  h1{
    text-align: center;
    margin-top: 5%;
}
.my-services{
    margin-top: 5%;
}
.my-services h1{
    text-align: center;
    color: purple;
}
#contact{
    display: flex;
    background-color:gray;
    color: purple;
    flex-direction: column;
    padding: 20px;
    margin-top: 5%;
}
.heading{
    text-align: center;
}
.form{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    border: solid purple;
}
.input{
    padding: 15px;
    margin: 15px;
    width: 40%;
    border: white;
    border-radius: 15px;
}
#msg{
    width: 30%;
    border: white;
    border-radius: 10px;
    margin: 15px;

}
#send{
    padding: 15px;
    width: 15%;
    border-radius: 15px;
    border: white;
}